#productsMainContainer {
	min-width: 100%;
	height: calc(100vh - 18px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(135deg, #fff7f0, #ffe0e0);
}
