#homeMainContainer {
	background: linear-gradient(135deg, #f9fafb, #e2e8f0);
	min-width: 100%;
	height: calc(100vh - 18px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
